body{
    background-color: rgb(244, 253, 222);
    font-family: 'Enriqueta', serif;
    text-align: justify;
    font-size: 18px;
}
/*Tekst*/
.title{
    font-size:  70px;
    color: #1A4F12;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.subtitle{
    
    font-family: 'Enriqueta', serif;
    font-size: 35px;
    color: #1A4F12;
    text-align: center;
}
.description{
    
    -ms-flex-item-align: center;
    
    -ms-grid-row-align: center;
    
    align-self: center;
}
.ListHead{
    font-size: 35px;
    margin: 5px;
    text-align: center;
}
.MoreInformation{
    font-size: 35px;
    margin: 5px;
    text-align: center;
    color: #1A4F12;
}
.ListContent{
    font-size: 25px;
}
.FirstText{
    font-size: 20px;
}
.end {
    text-align: center;
}
/*środkowa treść*/
main.container{
    padding: 3px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.container div{
    margin: 3px;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    
}
.container div.box1{
    width:90%;
    height: 100%;
    padding: 10px;
    background-color:#7DC173;
    margin: 10px;
 }
.container div.box8{
    width: 90%;
    height: 100%;
    padding: 10px;
    background-color: #7DC173;
    text-align: center;
    margin: 10px;
}
div.SocialLinks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
}
/*obrazki, zdjęcia*/
img{
    width: 500px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    margin: auto;
}
img.marka {
    width: 65px;
    height: 65px;
    -o-object-fit: contain;
       object-fit: contain;
}
img.logo {
    width: 35px;
    height: 35px;
    -o-object-fit: contain;
       object-fit: contain; 
}
img.logo2{
    width: 25px;
    height: 25px;
    -o-object-fit: contain;
       object-fit: contain; 
}
img.media {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 4px;
    -webkit-animation: animacja 5s ease-in-out infinite;
            animation: animacja 5s ease-in-out infinite;
}
/*linkowanie*/
.githubLink
{
    color: black;
	text-decoration: none;
}
.githubLink:visited 
{
    color: black;
}
.githubLink:hover 
{
    color: #1A4F12;
}
.githubLink:active 
{    
	color: black;
}
/*animacje*/
.ShowInformation
{
	position: relative;
}
.ShowInformation .description
{
	position: absolute;
	display: block;
	width: 500px;
	height: 400px;
	background-color: #408735;
	left: -4px;
	top: -4px;
    opacity: 0;
    border-radius: 10px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    color: white;
    margin: 4px;
    text-align: center;
    
}
.ShowInformation:hover .description
{
    opacity: 0.8;
 }

}
@-webkit-keyframes animacja{
    0% {-webkit-transform: rotate(0);transform: rotate(0)}
    50% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg)}
 }
@keyframes animacja{
    0% {-webkit-transform: rotate(0);transform: rotate(0)}
    50% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg)}
 }
     
 