body{
    background-color: rgb(244, 253, 222);
    font-family: 'Enriqueta', serif;
    text-align: justify;
}
/*Tekst*/
.title{
    font-size:  70px;
    color: #1A4F12;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.subtitle{
    
    font-family: 'Enriqueta', serif;
    font-size: 35px;
    color: #1A4F12;
    text-align: center;
}
.description{
    
    align-self: center;
}
.ListHead{
    font-size: 35px;
    margin: 5px;
    text-align: center;
}
.MoreInformation{
    font-size: 35px;
    margin: 5px;
    text-align: center;
    color: #1A4F12;
}
.ListContent{
    font-size: 25px;
}
.FirstText{
    font-size: 20px;
}
/*środkowa treść*/
main.container{
    padding: 3px;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.container div{
    margin: 3px;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    
}
.container div.box1{
    width:90%;
    height: 100%;
    padding: 10px;
    background-color:#7DC173;
    margin: 10px;
 }
.container div.box8{
    width: 90%;
    height: 100%;
    padding: 10px;
    background-color: #7DC173;
    text-align: center;
    margin: 10px;
}
div.SocialLinks{
    display: flex;
    justify-content: center;
    height: 100px;
}
/*obrazki, zdjęcia*/
img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
}
img.marka {
    width: 65px;
    height: 65px;
    object-fit: contain;
}
img.logo {
    width: 35px;
    height: 35px;
    object-fit: contain; 
}
img.logo2{
    width: 25px;
    height: 25px;
    object-fit: contain; 
}
img.media {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 4px;
    animation: animacja 5s ease-in-out infinite;
}
/*linkowanie*/
a:link 
{
    color: #fff;
	text-decoration: none;
}
a:visited 
{
    color: #fff;
}
a:hover 
{
    color: #fff;
}
a:active 
{    
	color: #fff;
}
/*animacje*/
.overlay
{
	position: relative;
}
.overlay .link
{
	position: absolute;
	display: flex;
	width: 500px;
	height: 400px;
	background-color: #408735;
	left: 0px;
	top: 0px;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.overlay:hover .link
{
	opacity: 0.8;
}
@keyframes animacja{
    0% {transform: rotate(0)}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg)}
 }
     
 footer p a.githubLink {
     color: black !important;
 }